* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.header {
  padding: 10px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  color: black;
  width: 100%;
}
.w{
  width: 80%;
   display: flex;
  justify-content: space-around;
}
.header-cola{
    width:30%;

}
.header-colb{
    margin-top: 20px;
    width:30%;
}
.header-colc{
    margin-top: 20px;
    margin-left: 40px;
   width: 20%;
}
.icon{
   height: 50px;
   width: 50px;
   background-color: #ca9c6a;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}
@media screen and (max-width: 600px) {
    .hide{
        display: none;
    }
}
