.aboutUs{
    width: 80%;
    margin: auto;
}
.prg{
    text-align: justify;
    color: aqua;
    line-height: 40px;
}
@media screen and (max-width: 600px) {
    .aboutUs h1{
        font-size:40px ;
    }
}